{% extends 'base.html' %}

{% block content %}
{% if request.user.student %}
    <div class="content">
    {% for el in homework %}
        <div class="card col-5 d-flex">
            <div class="card-header">
                <h3>{{ el.teacher.position }}</h3>
                <span class="d-block h5">
                    {{ el.homework_text }}
                </span>
                <a href="{{ el.homework_file.url }}" download class="h5">Download the Task File</a>
                <p class="h4 mt-2">Deadline: <time>{{ el.homework_deadline_time }}</time> </p>
                
            </div>
            <div class="card-body">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" id="overlay"  data-toggle="modal"  data-id="{{ el.id }}" data-target="#exampleModal">
                Upload File
                </button>

                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Upload File</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="post" id="post-form" enctype="multipart/form-data">{% csrf_token %}
                                <div class="card">
    
                                    <div class="card-body" id="forms-target-left">
                                        <div class="form-group">
                                            <label class="cursor-move">Attach File:</label>
                                            <input type="file" id="file" name="file" class="form-input-styled" data-fouc>
                                        </div>
    
                                        <div class="form-group">
                                            <label class="cursor-move">Your Commit:</label>
                                            <textarea rows="5" cols="5" class="form-control" placeholder="Enter your message here"></textarea>
                                        </div>
    
                                        <div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											<button type="button" class="btn btn-primary" id="submit">Add Student</button>
										</div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <script>
        let objects = document.querySelectorAll('#overlay')
        for (let item of objects){
		   item.addEventListener('click', function() {
			   get_img(item.dataset.id)
		   })
	   }
       function get_img(homework) {
        $('#submit').on('click', function(){
            let input = document.getElementById('file');
            var crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
            let data = new FormData();
            data.append('submission_homework_file', input.files[0]);
            data.append('homework', homework)
            data.append('csrfmiddlewaretoken', crf_token)
            fetch('/api/v1/course/homework/answer/', {
                method: 'POST',
                body: data,
                headers: {
                'Authorization': csrftoken
                    },
            }).then(response => {
                return response.json();
            }).then(data => {
                window.location = '/course/homework/{{ group.id }}';
		},
        )}
        )}
    </script>
{% endif %}
{% endblock content %}


