{% extends '../../base.html' %}

<!-- base -->
{% block content %}
			<!-- Content area -->
			<div class="content">

				<!-- Basic datatable -->
				<div class="card">
					<div class="card-header header-elements-inline">
						<h5 class="card-title">Список студентов</h5>
						<div class="header-elements">
							<div class="list-icons">
								<!-- Modal -->
								{% block modal %}
									{% include './modals/listModal.html' %}
								{% endblock modal %}


								
		                	</div>
	                	</div>
					</div>
					<div class="card-body">
						<table class="table datatable-basic myTable" id="ourtable3">
							<thead>
								<tr>
									<th>№</th>
									<th>Имя пользователя</th>
									<th>Имя</th>
									<th>Фамилия</th>
									<th>Email</th>
									<th>Телефон</th>
									<th>Был(а) в сети</th>
									{% if request.user.owner %}
									<th>Удалить</th>
									{% endif %}
								</tr>
							</thead>
							<tbody>
							{% for el in student %}
								{% for i in el.student.all %}
								<tr>
									<td>{{ forloop.counter }}</td>
									<td>{{ i.user.username }}</td>
									<td>{{ i.user.first_name }}</td>
									<td>{{ i.user.last_name}}</td>
									<td>{{ i.user.email }}</td>
									<td>{{ i.user.phone }}</td>
									{% if i.user.last_activity %}
									<td>{{ i.user.last_activity }}</td>
									{% else %}
									<td><span class="badge badge-danger">Offline</span></td>
									{% endif %}
									{% if request.user.owner %}
									<td><a href="" class="list-icons-item" id="delete" data-id="{{ i.user.id }}" data-toggle="modal" data-target="#remove_modal">
										<i class="icon-trash"></i>
									</a></td>
									{% endif %}
								</tr>
								{% endfor %}
							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				<!-- /basic datatable -->

			</div>
			<!-- /content area -->
			<!-- Remove modal -->
			<div id="remove_modal" class="modal fade" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Confirm action</h5>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>

						<div class="modal-body">
							You are about to remove this row. Are you sure?
						</div>

						<div class="modal-footer">
							<button id="remove" type="button" class="btn btn-primary" data-dismiss="modal">Yes, remove</button>
							<button type="button" class="btn btn-light" data-dismiss="modal">No, thanks</button>
						</div>
					</div>
				</div>
			</div>
			<!-- /remove modal -->
			{% block js %}
				{% include './modals/listModal.js' %}
			{% endblock js %}
{% endblock content %}
<!-- /base -->
			
