{% extends './base.html' %}

{% block content %}
      <!-- Content area -->
        <div class="content">
          <!-- Quick stats boxes -->
          <div class="row">
            <div class="col-lg-4">

              <!-- Members online -->
              <div class="card bg-teal-400">
                <div class="card-body">
                  <div class="d-flex">
                    <h3 class="font-weight-semibold mb-0">{{student_count}}</h3>
                  </div>
                  
                  <div>
                    Students
                  </div>
                </div>

                <div class="container-fluid">
                  <div id="members-online"></div>
                </div>
              </div>
              <!-- /members online -->

            </div>

            <div class="col-lg-4">

              <!-- Current server load -->
              <div class="card bg-pink-400">
                <div class="card-body">
                  <div class="d-flex">
                    <h3 class="font-weight-semibold mb-0">{{teacher_count}}</h3>
                  </div>
                  
                  <div>
                    Teachers
                  </div>
                </div>
              </div>
              <!-- /current server load -->

            </div>

            <div class="col-lg-4">

              <!-- Today's revenue -->
              <div class="card bg-blue-400">
                <div class="card-body">
                  <div class="d-flex">
                    <h3 class="font-weight-semibold mb-0">{{user_count}}</h3>
                  </div>
                  
                  <div>
                    Users
                  </div>
                </div>
              </div>
              <!-- /today's revenue -->

            </div>
          </div>
          <!-- /quick stats boxes -->
        </div>
      <!-- /content area -->
{% endblock content %}
